[submodule ".registry"]
	path = .registry
	url = https://github.com/medewitt/medewitt.r-universe.dev
	branch = HEAD
[submodule "autotracer"]
	path = autotracer
	url = https://github.com/conedatascience/autotracer
[submodule "intervalcalc"]
	path = intervalcalc
	url = https://github.com/medewitt/intervalcalc
[submodule "nccovid"]
	path = nccovid
	url = https://github.com/conedatascience/nccovid
[submodule "staninside"]
	path = staninside
	url = https://github.com/medewitt/staninside
[submodule "tidyqwi"]
	path = tidyqwi
	url = https://github.com/medewitt/tidyqwi
