[submodule ".registry"]
	path = .registry
	url = https://github.com/medewitt/universe
	shallow = true
	branch = HEAD
[submodule "tidyqwi"]
	path = tidyqwi
	url = https://github.com/medewitt/tidyqwi
	shallow = true
	registered = true
[submodule "staninside"]
	path = staninside
	url = https://github.com/medewitt/staninside
	shallow = true
	registered = true
[submodule "nccovid"]
	path = nccovid
	url = https://github.com/conedatascience/nccovid
	shallow = true
	registered = true
[submodule "autotracer"]
	path = autotracer
	url = https://github.com/conedatascience/autotracer
	shallow = true
	registered = true
[submodule "intervalcalc"]
	path = intervalcalc
	url = https://github.com/medewitt/intervalcalc
	shallow = true
	registered = true
